body {
    background-image: url('/img/top-view-table-full-delicious-food-composition.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(255, 255, 255, 0.85);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(3px);
}

h1, h3, p, a {
    color: #222;
}
