<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Usuário</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container receitas-page">

    <h1><%= usuario ? 'Editar Usuário' : 'Criar Novo Usuário' %></h1>
    
    <form action="<%= usuario ? `/usuarios/${usuario.id}?_method=PUT` : '/usuarios' %>" method="POST">
        <div>
            <label for="nome">Nome:<span class="required-mark">*</span></label>
            <input type="text" placeholder="Ex: João Silva" id="nome" name="nome" value="<%= usuario ? usuario.nome : '' %>" required>
        </div>
        <br>
        <div>
            <label for="email">E-mail:<span class="required-mark">*</span></label>
            <input type="email" placeholder="Ex: joao@exemplo.com" id="email" name="email" value="<%= usuario ? usuario.email : '' %>" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Salvar Usuário</button>
        <a href="/usuarios" class="btn btn-voltar">Cancelar</a>
    </form>


    </div>
</body>
</html>